
 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}
        body{
            font-family: Arial, sans-serif; 
            background-color: rgb(255, 252, 241); 
        }
.navbar-main-container {
    background-color: rgb(137, 53, 53);
    color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.main-logo {
    border-radius: 30px;

}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: #f9f9f9;
}

.nav-text-container {
    color: #f9f5f5;
     text-decoration: none;
}

.auth-links-containar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.gallery-container-text{
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
}
.gallery-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 18px;
}

.sub-card-contain{
    position: relative;
    width:100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-left: 30px;
    gap :30px
}

.sub-card-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.sub-card-contain:hover img{
    transform: scale(1.02);
}

.tag{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0,0,0,0.65);
    color: hsl(0, 0%, 100%);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}


        .container{
            width: 40%;
             margin: 40px auto; 
             background: rgb(246, 237, 233); 
             padding: 30px; 
             border-radius: 10px; 
             box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        .image{
            padding: 20px 30px 20px 30px;
            height:250px;
            width:90% ;

        }
        .rating{
            width: 62.5%; 
            padding: 10px; 
            margin: 8px 0;
        }
        .heding{
        text-align: center;

        }
        .info{
       width: 60%; 
        padding: 10px; 
         margin: 8px 0 ;
        }
       .btn{
        display: block;
    width: 160px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    background: black;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;  
        
       }
       .btn:hover{
      background-color: rgb(63, 64, 64);
       }

.footer {
     background-color: rgb(137, 53, 53);
    color: #fff;
    padding: 40px 8%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;

}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0; 
  
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.col h4 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.col a {
    display: block;
    margin: 6px 0;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
}

.col a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-links {
        text-align: center;
    }
}