
   *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}
        body{
            font-family: Arial, sans-serif; 
            background-color: rgb(255, 252, 241); 
        }
.navbar {
    background-color:#843107; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    height: 50px;
    border-radius:45px;
    padding: 5px 5px 5px 7px;
}
.brand-name {
    color: white;
    margin: 0;
    font-size: 27px;
    font-weight:dark;
}
.center-links {
    display:flex;
    gap:30px;
    margin: 0;     
    padding: 0;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.center-links a:hover {
    color: darkorange;
}
.right-links {
    display: flex;
    gap: 15px;
}
.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
    padding-right: 20px;
}
.right-links a:hover {
    color: darkorange;
}

















.footer {
     background-color: rgb(137, 53, 53);
    color: #fff;
    padding: 40px 8%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;

}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0; 
  
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.col h4 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.col a {
    display: block;
    margin: 6px 0;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
}

.col a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-links {
        text-align: center;
    }
}
